<% provide(:title, "SaveRecord#new") %>
<html>
  <head>
    <title>SaveRecord#new</title>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>

  <body>

  </body>
  <%= javascript_include_tag 'othello.js'%>
</html>
