<% provide(:title, "SaveGameRecord#update") %>
<html>
  <head>
    <title>SaveGameRecord#update</title>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>

  <body>
    <p>SaveGameRecord#update</p>      
  </body>
  <%= javascript_include_tag 'othello.js'%>
</html>
