<% provide(:title, "SaveGameRecord#new") %>
<html>
  <head>
    <title>SaveGameRecord#new</title>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>

  <body>
    <p> test </p>
  </body>
  <!--%= javascript_include_tag 'othello.js'%-->
</html>
