<% provide(:title, 'SpecifyKifuAndOpen New') %>
<% provide(:class_text, 'specify-kifu-and-open--new') %>
<% provide(:button_text, '開く') %>
<div class="jumbotron bg-image">
  <div class="bg-mask">
    <h1>棋譜を指定して開く</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'form' %>
      </div>
    <div>
  </div>
</div>
