<% provide(:title, "Play") %>
<html>
  <head>
    <title>Othello</title>
  </head>

  <body>
    <p class="example1">テスト</p>
    <!--script type="text/javascript" src="app/assets/javascripts/othello.js"></script-->
    <!-- 盤面の要素定義 -->
      <div style="display:none">
	<div id="cell" class="square"><div class="cell"></div>
	<div id="black" class="square"><img class="block" src="black.png"></img></div>
        <div id="white" class="square"><img class="block" src="white.png"></img></div>
      </div>

      <div id="board"></div>

  </body>
  <%= javascript_include_tag 'othello.js' %>
</html>
