// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
:root {
  --main-frame-width: 12px;
  --main-cell-width: 41px;
  --main-square-width: 43px;
}

#board{//for id
  position: relative;
}

.corner//for class
{
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-frame-width);
  height: var(--main-frame-width);
  background-color: #000000;	
}
.side_frame//for class
{
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-cell-width);
  height: var(--main-frame-width);
  background-color: #000000;
}

.vertical_frame//for class
{
position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-frame-width);
  height: var(--main-cell-width);
  background-color: #000000;
}

.cell//for class
{
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-cell-width);
  height: var(--main-cell-width);
  //background-color: #00ff00;
  //background-color: #3CB371;
  background-color: darkgreen;
}

.black_dot//for class
{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
}

.corner_square//for class
{
  position: absolute;
  width: var(--main-frame-width);
  height: var(--main-frame-width);
  background-color: #000000;	
}

.side_rectangle//for class
{
  position: absolute;
  width: var(--main-square-width);
  height: var(--main-frame-width);
  background-color: #000000;
  text-align: center;
  line-height: 12px;
  color: white;
}

.vertical_rectangle//for class
{
  position: absolute;
  width: var(--main-frame-width);
  height: var(--main-square-width);
  background-color: #000000;
  text-align: center;
  line-height: 41px;
  color: white;
}

.square//for class
{
  position: absolute;
  width: var(--main-square-width);
  height: var(--main-square-width);
  //background-color: #3CB371;
  background-color: #000000;
}

.block//for class
{
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-cell-width);
  height: var(--main-cell-width);
}

#edit_board_ok//for id
{ 
  position: absolute;
  top: 43*12px;
  margin-left: 380px;
}

#edit_board_cancel//for id
{
  position: absolute;
  top: 43*12px;
  margin-left: 430px;
}

#next_hand_text//for id
{
  position: absolute;
  top: 43*12px;
}

#stone_selection//for id
{
  position: absolute;
  top: 43*12px;
  margin-left: 170px;
}

.title//for class
{
  overflow: hidden;
//  height: 3.6em; /* 2em（行）x line-heightの1.8 2行にするなら3.6em*/
  font-size: 16px;
  line-height: 1.8;
  width: 43*8px;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

//  overflow: hidden;
//  font-size: medium;
//  width: 43*8px;
//  display: -webkit-box;
//    -webkit-box-orient: vertical;
//    -webkit-line-clamp: 2;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.black_player//for class
{
  font-size: medium;
  width: 43*8px;
  margin-bottom: -10px;
}

#msg_kifu//for id
{
  position: absolute;
  margin-left: 400px;
  height: 353px;     /* 高さを制限(※) */
  width: 100px;
  overflow: scroll;  /* スクロールバーを表示(※) */
  border: 1px solid;   /* 枠線を追加 */
  background-color: #ffffff; //#b8d5f1;
}

.kifu_textbox//for class
{
  width: 150px;
}

.bottom//for class
{
  position: absolute;
  top: 43*18+20px;
  margin-left: 200px;
}

.highlight//for class
{
  color: white;
  background-color: blue;
}

.white_player//for class
{
  position: absolute; 
  top: 43*11px; 
  font-size: medium;
 // width: 43*8px;
}

#Computer_checkbox//for id
{
  position: absolute; 
  top: 43*13+20px; 
}

#Computer_text//for id
{
  position: absolute;
  top: 43*13+18px;
  margin-left: 20px;
}

#First_checkbox//for id
{
  position: absolute;
  top: 43*14+20px;
}

#First_text//for id
{
  position: absolute;
  top: 43*14+18px;
  margin-left: 20px;
}

#Reset//for id
{
  position: absolute;
  top: 43*15+20px;
}

#Save//for id
{
  position: absolute;
  top: 43*12+20px;
  width: 260px;
  margin-left: 800px;
}

#SaveAs//for id
{
  position: absolute;
  top: 43*13+20px;
  width: 260px;
  margin-left: 800px;
}

#EditBoard//for id
{
  position: absolute;
  top: 43*14+20px;
  width: 260px;
  margin-left: 800px; 
}

#open//for id
{
  position: absolute;
  top: 43*15+20px;
  margin-left: 800px;
 }

.w-260px {
  width: 260px !important;
}

.copy_clipboard//for class
{
  position: absolute;
  top: 43*16+20px;
  width: 260px;
  margin-left: 800px;
}

#back_to_beginning//for id
{
  position: absolute;
  top:43*16+20px;
}

#previous_button//for id
{
  position: absolute;
  top:43*16+20px;
  margin-left: 50px;
}

#next_button//for id
{
  position: absolute;
  top:43*16+20px;
  margin-left: 100px;
}

#go_to_end//for id
{
  position: absolute;
  top:43*16+20px;
  margin-left: 150px;
}

#simple_kifu//for id
{
  position: absolute;
  top: 43*11+30px;
  height: 40px;
  width: 352px;
  overflow: scroll;
  overflow-y: hidden;
  border: 1px solid;
  background-color: #ffffff;
}


