// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
:root {
  --main-frame-width: 12px;
  --main-cell-width: 41px;
  --main-square-width: 43px;
}

#board{//for id
  position: relative;
}

.corner//for class
{
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-frame-width);
  height: var(--main-frame-width);
  background-color: #000000;	
}
.side_frame//for class
{
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-cell-width);
  height: var(--main-frame-width);
  background-color: #000000;
}

.vertical_frame//for class
{
position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-frame-width);
  height: var(--main-cell-width);
  background-color: #000000;
}

.cell//for class
{
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-cell-width);
  height: var(--main-cell-width);
  //background-color: #00ff00;
  //background-color: #3CB371;
  background-color: darkgreen;
}

.black_dot//for class
{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
}

.corner_square//for class
{
  position: absolute;
  width: var(--main-frame-width);
  height: var(--main-frame-width);
  background-color: #000000;	
}

.side_rectangle//for class
{
  position: absolute;
  width: var(--main-square-width);
  height: var(--main-frame-width);
  background-color: #000000;
  text-align: center;
  line-height: 12px;
  color: white;
}

.vertical_rectangle//for class
{
  position: absolute;
  width: var(--main-frame-width);
  height: var(--main-square-width);
  background-color: #000000;
  text-align: center;
  line-height: 41px;
  color: white;
}

.square//for class
{
  position: absolute;
  width: var(--main-square-width);
  height: var(--main-square-width);
  //background-color: #3CB371;
  background-color: #000000;
}

.block//for class
{
  display: block;
  position: relative;
  top: 1px;
  left: 1px;
  width: var(--main-cell-width);
  height: var(--main-cell-width);
}

.title
{
  overflow: hidden;
//  height: 3.6em; /* 2em（行）x line-heightの1.8 2行にするなら3.6em*/
  font-size: 16px;
  line-height: 1.8;
  width: 43*8px;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

//  overflow: hidden;
//  font-size: medium;
//  width: 43*8px;
//  display: -webkit-box;
//    -webkit-box-orient: vertical;
//    -webkit-line-clamp: 2;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.black_player
{
  font-size: medium;
  width: 43*8px;
  margin-bottom: -10px;
}

#msg//for id
{
  position: absolute;
  top: 43*13+20px;
}

.white_player
{
  position: absolute; 
  top: 43*14+20px; 
  font-size: medium;
  width: 43*8px;
}

#Computer
{
  position: absolute; 
  top: 43*15+20px; 
}

#Computer2
{
  position: absolute;
  top: 43*15+18px;
  margin-left: 20px;
}

#First
{
  position: absolute;
  top: 43*16+20px;
}

#First2
{
  position: absolute;
  top: 43*16+18px;
  margin-left: 20px;
}
 

#form-button
{
  position: absolute;
  top: 43*17+20px;
}

#SaveRecord
{
  position: absolute;
  top: 43*18+20px;
}

.next_button
{
  position: absolute;
  top:43*19+10px;
}
