// Place all the styles related to the Various_searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.various_search//for class
{
  margin-top: 100px;
  margin-left :1100px;
}

.various_search_box//for class
{
  margin-top: 50px;
}
