<% provide(:title, 'Category new') %>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script-->
  </head>

  <body>
    <h1>棋譜カテゴリー別</h1>
    <div class="center2">
      <%= form_with(local: true) do |f| %>
        <div id="parent_box">
	  <%= f.select :category_id, options_for_select(@category_parent_array.map{|c| [c[:name], c[:id]]}), {include_blank: "選択してください"}, {class: "parent_caterogy_box", id: "parent_category"} %>
	</div>
      <% end %>
      <div class="item_input__body__category__children" id="children_box">
      </div>
      <div class="item_input__body__category__grandchildren" id="grandchildren_box">
      </div>
    </div>
    <div class="link" id="result">
      <% if logged_in? %>
	<%= link_to "カテゴリー検索結果を表示する", category_search_user_game_records_path(current_user.id), class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </body>
  <%= javascript_include_tag 'search.js'%>
</html>
