<% provide(:title, 'Category index') %>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script-->
  </head>

  <body>
    <h1>棋譜カテゴリー別</h1>
    <div class="category_list">
      <div class= "parents_list box" >
	 <% @parents.each do |parent| %>
           <div>
	     <%= link_to "#{parent.name}", category_path(current_user.id, parent.id), class: "parent_category",id: "#{parent.id}" %>
	   </div>
        <% end %>
      </div>
      <div class="children_list box">
      </div>
      <div class="grand_children_list box">
      </div>
    </div>
    <div class="now-selected-red"></div>
    <div class="now-selected-gray"></div>
  </body>
  <%= javascript_include_tag 'search.js'%>
</html>
